.header-tag {
    width: 98vw;
    height: 40px;
    display: inline-flex;
    display: flex;
    align-items: center;
    /* Making equal spaced divs */
    /* justify-content: space-between; */
}

.header-area {
    background-color: rgb(255, 255, 255);
    margin: auto;
    /* position: fixed; */
    padding: 15px;
    top: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: pink;
}

.search-bar {
    width: 80%;
    height: 35px;
    border-radius: 15px;
    border-color: #ffa1c0;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 800px) {
    .search-bar {
        width: 70%;
    }
}

.search-div {
    width: 65%;
}

.button-div {
    width: 400px;
    /* height: 40px;  */
    display: flex;
    /*Making equal spaced divs*/
    justify-content: space-between;
    align-content: center;
    margin-top: 4px;
    margin-left: auto;
    margin-right: 0;
}

#buttons {
    display: flex;
    align-content: center;
    width: 500px;
    position: absolute;
    right: 0px;
    padding-top: 10px;
    padding-right: 15px;
}

.header-buttons {
    /* width: 65px; */
    width: 75px;
    height: 35px;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    border-style: none;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;
}

.hdr-ico {
    /* width: auto; */
    /* padding-top: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header-buttons:hover {
    background-color: rgb(255, 235, 243);
}

.logo-div-hdr {
    /* font-size: larger; */
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    /* padding-right: 30px; */
    /* margin: auto; */
}

.nav-buttons {
    list-style: none;
}

.hdr-ico-svg {
    display: inline-block;
    height: 75%;
    width: 75%;
    filter: invert(86%) sepia(18%) saturate(6955%) hue-rotate(296deg) brightness(118%) contrast(101%);
}

#logo-png-header {
    height: 40px;
    width: 125px;
}

/* #acct-btn {
    padding-top: 3px;
} */

#acct-btn:hover,
#acct-btn:focus {
    background-color: rgb(255, 235, 243);
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 7px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 7px;
}

.dropdown-content a:hover {
    background-color: rgb(255, 235, 243);
}

.dropdown-content::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-content.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-content.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}


/* ------- THIS SECTION CONTAINS FONT-FACES FOR IMPORTTED FONTS! ------- */
@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* ------- THIS SECTION CONTAINS FONT-FACES FOR IMPORTTED FONTS! ------- */