.signup-div {
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.signup-div p,
input,
label {
    display: inline;
    float: none;
}