.pbl-user-prof-class {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.pbl-profile-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    width: 100vh;
}

.pbl-profile-body #un-cell {
    display: flex;
    justify-content: center;
}

.pbl-profile-info-div {
    display: grid;
    grid-template-columns: 150px 700px 30%;
    grid-auto-rows: minmax(50px, auto);
}

#pbl-un-cell {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 10px;
    flex-shrink: 0;
    top: 0px;
    left: 0px;
    /* background-color: palegoldenrod; */
    margin-left: 20px;
}

#pbl-dos-cell {
    grid-column: 3;
    grid-row: 1;
    padding-left: 10px;
    /* background-color: aquamarine; */
    display: flex;
}

.fllw-button {
    width: 150px;
    margin: 5px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(254, 231, 238);
    transition-duration: 0.4s;
}

.fllw-button:hover {
    background-color: rgb(255, 191, 211);
}

#pbl-idk-un-n-bday {
    display: flex;
}

#pbl-un-h3,
#pbl-bsd-un {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    margin-bottom: 20px;
}

#pbl-bsd-un {
    padding-top: 5px;
}

.user-prof-class {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.profile-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    width: 100vh;
}

.profile-body #un-cell {
    display: flex;
    justify-content: center;
}

.profile-info-div {
    display: grid;
    grid-template-columns: 150px 700px 30%;
    grid-auto-rows: minmax(50px, auto);
}

#pfp-ex {
    border-radius: 50%;
    height: 150px;
    border-color: rgb(255, 211, 230);
    border-style: solid;
    border-width: 3px;
}

#pfp-cell {
    margin-right: 20px;
}


#un-cell {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 10px;
    flex-shrink: 0;
    top: 0px;
    left: 0px;
    /* background-color: palegoldenrod; */
    margin-left: 20px;
    margin-right: 50px;
}

#dos-cell {
    grid-column: 3;
    grid-row: 1;
    padding-left: 10px;
    /* background-color: aquamarine; */
    display: flex;
    margin-left: 200px;
}

.prof-button {
    width: 150px;
    margin: 5px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(254, 231, 238);
    transition-duration: 0.4s;
}

.prof-button:hover {
    background-color: rgb(255, 191, 211);
}

#idk-un-n-bday {
    display: flex;
}

#username-h3,
#bsd-un {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
}

#bsd-un {
    padding-top: 5px;
}

#pup-listing-img {
    height: 160px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    object-fit: cover;
}

.pup-listings-map-item {
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pup-listing-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    transition: box-shadow .3s;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #ffa0ce;
    background: #fff;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-align: ; */
}


.pup-listing-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pup-my-listings-div {
    width: 95vw;
}

#pup-list-crd-inf {
    padding-left: 10px;
}

.pup-listing-item:hover {
    box-shadow: 0 0 15px rgba(255, 4, 104, 0.2);
    transform: translate3d(0px, -3px, 0px);
}

#pup-listi-a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: flex;
    padding: none;
}


/* ------- THIS SECTION CONTAINS FONT-FACES FOR IMPORTTED FONTS! ------- */

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ------- THIS SECTION CONTAINS FONT-FACES FOR IMPORTTED FONTS! ------- */