#usr-edt-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    /* margin: auto; */
}

.pfp-choice-div {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 5px;
    transition-duration: 0.4s;
}

#pfp-choice-1 {
    background-image: url('../images/blue_cat_icon.jpg');
    background-size: 100px 100px;
}

#pfp-choice-2 {
    background-image: url('../images/neopolitan_cat_icon.jpg');
    background-size: 100px 100px;
}

#pfp-choice-3 {
    background-image: url('../images/strawberry_roll_cat_icon.jpg');
    background-size: 100px 100px;
}

#pfp-choice-4 {
    background-image: url('../images/toast_cat_icon.jpg');
    background-size: 100px 100px;
}

#pfp-choice-5 {
    background-image: url('../images/watermelon_cat_icon.jpg');
    background-size: 100px 100px;
}

.pfp-choice-div:focus {
    border-color: deeppink;
}

#pfp-choice-sect {
    display: flex;
}

#pfp-upd-btn {
    margin-top: 60px;
    margin-left: 15px;
}

.usr-edt-inp {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 168, 199);
    width: 60%;
    height: 40px;
    margin-top: 3px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    font-weight: 500;
}

#usr-edit-bio {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 168, 199);
    width: 58%;
    margin-top: 3px;
    /* margin-bottom: 20px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px;
}

#ctry-sel {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 168, 199);
    width: 61%;
    height: 40px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    font-weight: 500;
}

.usr-prof-upd-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 43px;
    width: 80px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: black;
    border-style: none;
    color: white;
    transition-duration: 0.4s;
}

.usr-prof-upd-btn:hover {
    background-color: rgb(241, 53, 125);
}

#bio-btn {
    margin-left: 10px;
}

#usr-edit-bio,
#bio-btn {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    margin-bottom: 20px;
}

#pfp-upd-btn:disabled,
#pfp-upd-btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* #un-sbm-btn:disabled,
#un-sbm-btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
} */


/* ------- THIS SECTION CONTAINS FONT-FACES FOR IMPORTTED FONTS! ------- */

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ------- THIS SECTION CONTAINS FONT-FACES FOR IMPORTTED FONTS! ------- */